.flex-center-items {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.popup-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
  color: #696969;
}